<mat-card>
    <mat-card-header>
        <mat-card-title>Order detail</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <div>pizza 1</div>
                <div>5$</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div>drink 1</div>
                <div>5$</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div>sides 1</div>
                <div>5$</div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        <div>
            <div>Total</div>
            <div>15$</div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button>CHECK OUT</button>
    </mat-card-actions>
</mat-card>